<ul class="nav-links">
    <li>
      <a href="#" class="active">
        <i class='bx bx-grid-alt' ></i>
        <span class="links_name">Админ панель</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-box' ></i>
        <span class="links_name">Заказы</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-list-ul' ></i>
        <span class="links_name">Клиенты</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-pie-chart-alt-2' ></i>
        <span class="links_name">Задачи</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-coin-stack' ></i>
        <span class="links_name">Счета</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-book-alt' ></i>
        <span class="links_name">Отчеты</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user' ></i>
        <span class="links_name">Команда</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-message' ></i>
        <span class="links_name">Сообщения</span>
      </a>
    </li>

    <li class="log_out">
      <a href="#">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Выход</span>
      </a>
    </li>
  </ul>